.pic{
    border-radius: 100%;
    width: 150px;
    filter: saturate(100%);
    border: 5px solid #dadada;

    transition: all 0.3s;
}

.main{
    position: absolute;
    width: 298px;
    height: 128px;
    left: 600px;
    top: 200px;
}

.name{
    font-family: 'poppins';
    font-style: bold;
    font-weight: 550;
    font-size: 35px;
    position: absolute;
    color: #dadada;
    left: 40px;
    top: 140px;
}

.tl{
    font-family: 'poppins';
    font-style: normal;
    font-weight: 550;
    font-size: 12px;
    position: absolute;
    color: #aaaaaa;
    left: 70px;
    top: 190px;
}

.medias{
    position: absolute;
    width: 298px;
    height: 128px;
    left: 620px;
    top: 450px;
}
.fa-brands{
    color: #dadada;
    padding-right: 20px;
    transition: all 0.3s;
}
.fa-brands:hover{
    color: blue;
}

.works{
    background-color: transparent;
    color: #5e5e5e;
    padding: 10px 12px;
    border: 0.2px solid #5e5e5e;
    text-align: center;
    display: inline;
    font-size: 12px;
    border-radius: 35px;

    position: absolute;
    left: 710px;
    top: 720px;

    transition: all 0.3s;
}
.works:hover{
    color: #ffffff;
    border: 1px solid #5e5e5e;
}

.bkbtn{
    background-color: transparent;
    color: #5e5e5e;
    padding: 5px 10px;
    border: 0.2px solid #5e5e5e;
    text-align: center;
    display: inline;
    font-size: 12px;
    border-radius: 15px;

    position: absolute;
    left: 10px;
    top: 20px;

    transition: all 0.3s;
}
.bkbtn:hover{
    color: #ffffff;
    padding: 7px 15px;
    border-radius: 35px;
}
